body {
  width: 1320px;
  height: 100%;
  position: relative;
  background-color: #f5f6f7;
}

.wrap {
  width: 1320px;
  position: relative;
}

.header {
  width: 1320px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

#selectBox {
  top: 10px;
  right: 10px;
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #333;
}

.wrap_img {
  width: auto;
  position: relative;
  text-align: center;
}

img {
  width: 20rem;
  height: 4rem;
  cursor: pointer;
}

.login_form {
  width: 1320px;
  position: relative;
  text-align: center;
}

.login_form input {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 20rem;
  font-size: 1rem;
}

.wrap_checkContent button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -1rem;
  width: 22rem;
  font-size: 1rem;
  background-color: #2db400;
  color: white;
  border: none;
  height: 3rem;
  cursor: pointer;
}

.checkboxform {
  width: 20rem;
  height: 30px;
  position: relative;
  margin: 0 auto;
}

.wrap_checkContent {
  width: 20rem;
  height: auto;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#checkbox {
  margin-left: -10rem;
}
.checkboxform {
  width: 22rem;
  margin-left: -1rem;
  position: relative;
}
.checkboxform div {
  float: left;
}

.easy_loginBt {
  position: relative;
  text-align: center;
}

.easy_loginBt button {
  border: 1px solid #2db400;
  width: 10.5rem;
  height: 3rem;
  padding: 10px;
  margin: 5px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.findData {
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  text-align: center;
}

.findData span {
  color: grey;
  font-size: 0.8rem;
  margin: 5px;
  cursor: pointer;
}
